



header {
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 33%, rgba(5,5,5,1) 64%, rgba(13,13,13,1) 88%, rgba(32,32,32,1) 100%);
    color: white;
    padding: 40px;
    text-decoration: none;
}

header h1 {
    float: left;
    margin-bottom: 50px;

}

header ul li {
    float: right;
    display: inline-block;
    padding: 20px;
    
    
}

.banner {
    background-image: url(../assets/Images/darkheader.jpg);
    width: 100%;
    height: 250px;
}
a {
    text-decoration: none;
    color: white;
}