* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}

body {
    background: radial-gradient(circle, rgba(33,33,33,1) 64%, rgba(0,0,0,1) 100%);
}


.header {
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 64%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 40px;
    text-decoration: none;
   
}

.header h1 {
    float: left;
    display: inline-block;
    font-size: 40px;
    padding: -20px;
    position: relative;
    bottom: 20px;

}

.header ul li {
    float: right;
    display: flex;
    padding: 20px;
    position: relative;
    bottom: 20px;
    flex-wrap: wrap;
    cursor: pointer;

}

.header ul li:hover {
    opacity: 0.7;
    

}



.banner {
    background-image: url(../assets/Images/darkheader.jpg);
    width: 100%;
    height: 250px;
}
a {
    text-decoration: none;
    color: white;
}

.aboutme {
    display: flex;
    color: white;
}



.aboutme h2 {
    padding: 20px;
    font-size: 36px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;
    height: 180px;


}

.aboutme p {
    float: right;
    padding: -20px;
    position: relative;
    width: 70%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
}

div.work {
    position:relative;
    display: flex;
    padding-top: 100px;
    color: white;
}

div.work h2 {
    padding: 20px;
    font-size: 36px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;
    height: 800px;
}

.container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
    width: 70%;
    flex-direction: column;
    

}

.container > div {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    cursor: pointer;
    

}

.container > div:hover {
    opacity: 0.7;
    transform: scale(0.99);
    
}

.container h3 {
    color: black;
    background-color: white;
    margin-right: 75%;
    display: inline-block;
    white-space: nowrap;


}

.container p {
    color: black;
    background-color: white;
    margin-right: 75%;
    white-space: nowrap;   
}

.img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: url('./Images/wave.jpg');
    grid-row: 1 /4;
    border: solid white;
}

.img2 {
    background:url('./Images/ledwall.jpg');
    border: solid white;

}

.img3 {
    background: url('./Images/calculator.jpg');
    border: solid white;

}

.img4 {
    background: url('./Images/puzzle.jpg');
    border: solid white;

}

.img5 {
    background: url('./Images/runner.jpg');
    border: solid white;

}

.contactme {
    color: white;

}

.contactme h3 {
    padding: 20px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;

}

.contactme ul li {
   

}
