* {
    box-sizing: border-box;
    padding: 0;    
    margin: 0;
}

.header {
    background-color: gray;
    padding: 40px;

}

.header h1 {
    float: left;
    color: lightblue;
    display: inline-block;
}

.header nav {
    float: right;
    padding-top: 10px;
    margin-right: 10px;
    color: lightblue;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: 200;
}

a {
    text-decoration: none;

}

.about-me {

}

.about-me p {
    text-align: center;

}