* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}



.header {
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 64%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 40px;
    text-decoration: none;
}

.header h1 {
    float: left;
    display: inline-block;
    font-size: 40px;
    padding: -20px;
    position: relative;
    bottom: 20px;

}

.header ul li {
    float: right;
    display: inline-block;
    padding: 20px;
    position: relative;
    bottom: 20px;

}



.banner {
    background-image: url(../assets/Images/darkheader.jpg);
    width: 100%;
    height: 250px;
}
a {
    text-decoration: none;
    color: white;
}

.aboutme {
  
}



.aboutme h2 {
    padding: 20px;
    font-size: 36px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;
    height: 140px;


}

.aboutme p {
    float: right;
    padding: -20px;
    position: relative;
    width: 70%;
    bottom: 140px;
    
}

div.work {
    position:relative
}

div.work h2 {
    padding: 20px;
    font-size: 36px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;
    height: 140px;
}

div.work p {
    float: right;
    padding: -20px;
    position: relative;
    width: 70%;
    bottom: 140px;

}

