* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}

body {
    background: radial-gradient(circle, rgba(33,33,33,1) 64%, rgba(0,0,0,1) 100%);
}


.header {
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 64%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 40px;
    text-decoration: none;
   
}

.header h1 {
    float: left;
    display: inline-block;
    font-size: 40px;
    padding: -20px;
    position: relative;
    bottom: 20px;

}

.header ul li {
    float: right;
    display: flex;
    padding: 20px;
    position: relative;
    bottom: 20px;
    flex-wrap: wrap;
    cursor: pointer;

}

.header ul li:hover {
    opacity: 0.7;


}



.banner {
    background-image: url(../assets/Images/darkheader.jpg);
    width: 100%;
    height: 250px;
}
a {
    text-decoration: none;
    color: white;
}

.aboutme {
    display: flex;
    color: white;
}


.aboutme h2 {
    padding: 20px;
    font-size: 36px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;
    height: 180px;
}

.myportrait {
    background-image: url("./Images/aboutme.jpg");
    background-size: 150px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    padding: 20px;


}
.aboutme p {
    float: right;
    padding: -20px;
    position: relative;
    width: 70%;
    text-align: center;
    padding: 20px;
    
}

div.work {
    position:relative;
    display: flex;
    padding-top: 100px;
    color: white;
}

div.work h2 {
    padding: 20px;
    font-size: 36px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;
    height: 800px;
}

.container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
    width: 70%;
    flex-direction: column;
    

}

.container > div {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    cursor: pointer;
    padding-bottom: 20px;
    

}

.container > div:hover {
    opacity: 0.8;
    
    
}

.container h3 {
    color:black;
    background-color:white;
    margin-right: 75%;
    display: flex;
   
}

.container p {
    color:black;
    background-color:white;
    margin-right: 75%;
    display: flex;
    font-weight: 300;
}


.img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: url('./Images/wave.jpg');
    grid-row: 1 /4;
    border: solid white;
}

.img2 {
    background:url('./Images/ledwall.jpg');
    border: solid white;

}

.img3 {
    background: url('./Images/calculator.jpg');
    border: solid white;

}

.img4 {
    background: url('./Images/puzzle.jpg');
    border: solid white;

}

.img5 {
    background: url('./Images/runner.jpg');
    border: solid white;

}

.contactme {
    color: white;

}

.contactme h3 {
    padding: 20px;
    width: 25%;
    margin-top: 20px;
    position: relative;
    border-right: thin   solid;

}

.contactme ul li {
    float: right;
    display: flex;
    padding: 20px;
    position: relative;
    bottom: 50px;
    flex-wrap: wrap;
    cursor: pointer;
    
}

.contactme ul li:hover {
    opacity: 0.7
}


@media screen and (max-width:768px) {
    
    .header h1 {
        float: none;
        display: inline-block;
        font-size: 40px;
        padding: -20px;
        position: relative;
        bottom: 20px;
        text-align: center;
        width: 100%;
    }      
    
    .header ul li {
        float: none;
        display: inline;
        padding: 40px;
        position: relative;
        bottom: 0px;
        flex-wrap: none;
        text-align: center;
        
    }  
    
    
    .aboutme {
        flex-direction: column;
        text-align: center;
    }

    .aboutme h2 {
        font-size: 36px;
        border:none;
        height: 100px;
        text-align: center;
        width: 100%;
    }
    .myportrait {
        background-image: url("./Images/aboutme.jpg");
        background-size: 150px;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        display: flex;
        padding: 20px;
        align-items: center;
        text-align: center;

     }

    .aboutme p {
        float: right;
        padding: -20px;
        position: relative;
        width: 100%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto; 
        padding-left: 20px;
        padding-right: 20px;
    }
    
    div.work {
        position:relative;
        display: flex;
        padding-top: 100px;
        color: white;
        flex-direction: column;
        text-align: center;
        
    
    }
    div.work h2 {
        padding: 20px;
        font-size: 36px;
        width: 100%;
        margin-top: 20px;
        position: relative;
        text-align: center;
        height: 100px;
    }

    .container {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        width: 100%;
        flex-direction: column;
    
}

    .contactme h3 {
        padding: 20px;
        width: 100%;
        margin-top: 20px;
        position: relative;
        border-right: none;
        text-align: center;
        flex-direction: column;
}

    .contactme ul li {
        float: none;
        display: inline-block;
        padding: 40px;
        position: relative;
        bottom: 0px;
        flex-wrap: none;
        text-align: center;
}